html {
  font-size: 14px;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-left:0px;
    padding-right:0px;
}

.fnt{
    font-size:16px;
}

/*@media only screen and (min-width: 520px) {
    #wrapper {
        height: 500px;
        This wrapper sets the height for the page, used to control footer position: relative;
    }
}*/

/* Black borders around focused input */
#resend:focus,
#backToHomepage:focus,
#backToLoginpage:focus,
#forgot-pass:focus,
#register-submit:focus,
#login-submit:focus, .form-control:focus{  
    box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem #fff;
}

/* neutralize effect from above on logout-button */
#logout:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #fff;
}

#srch-field:focus {
    box-shadow: 0 0 0 0.05rem white;
    border: 1px solid gray;
}

.srch-focus{
    border: 1px solid gray;
 }


.myNav, .social_link {
    margin-top: -20px;
    margin-bottom: -20px;
}

#forgot-password, #new-user, #resend-confirmation,#back-to-login {
    text-decoration: none;
    color:rgb(107,104,95);
    font-weight:bold;
}

.footer_link {
    text-decoration: none;
}

.list-unstyled a:link, .list-unstyled a:visited, .list-unstyled a:active, .list-unstyled a:hover {
    color: white !important;
}

/* Help links from microsoft */
#confirm-link:link, #confirm-link:visited, #confirm-link:active, #confirm-link:hover,
#register_options:link, #register_options:visited, #register_options:active, #register_options:hover,
#login_options:link, #login_options:visited, #login_options:active, #login_options:hover {
    color: black !important;
}


.nav-pills .nav-link{
    color:black;
}

.nav-pills .nav-link.active {
    background-color: black;
    color:white;
}

/*a,a:focus,button,button:focus,.btn,.btn:focus{  ----------------------
    outline:0 !important;
    border: 0;
}*/


/*check-box  , Identity */
.form-check-input:checked {               
    background-color: black !important;
    border: 0;
}

 /*check-box  , Identity*/ 
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem lightgray !important;
}


/*Make autofill white background*/
#resend_email:-webkit-autofill, #resend_email:-webkit-autofill:focus,
#reg_pass:-webkit-autofill, #reg_pass:-webkit-autofill:focus, #reg_email:-webkit-autofill,
#reg_email:-webkit-autofill:focus,
#login_pass:-webkit-autofill, #login_pass:-webkit-autofill:focus, #login_email:-webkit-autofill,
#login_email:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 40rem #ffff inset;
    outline: 0 !important;
    border: 1px solid lightgray !important;
}


.long_t{
    margin-right:20px;
}


.myfooter {
    background-color:black;
    padding-top:20px;
    min-height:300px;
   min-width:500px;        /*--- 500 ----*/

}

.myfooter_col{
    margin-right:50px;
}

/*.social_link {
    margin-top: -20px;
    margin-bottom: -20px;
}*/

.headers_footer{
    margin-bottom:30px;
    color:white !important;
}

.copyright{
    margin-top:-20px;
    color:darkgrey;
}



#register, #login{
    min-height: 1000px;
}

/*#products {
    min-height: 1600px;
}*/

/*.header_slogan {
    margin-left: -70px;
}*/
.dropdown-item:active {
    background-color: darkgray !important;
}


/* category-btns */

li {
      list-style-type: none;
      margin: 10px 0;
}
 
li button {
    text-align: left;
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    font-weight: normal;
            /* box-shadow: 0 2px 2px rgba(0,0,0,0.2);  */
 }

    #heroSection {
        min-height: 20rem;
    }

    .dropdown-menu{
        min-width:inherit;
    }

    /* --------Slideshow---------- */
    * {
        box-sizing: border-box
    }

    .slideshow-container {
        padding-top: 10px;
        border: 1px solid gray;
        border-radius: 4px;
        width: 500px;
        min-width:500px;
        /*max-height:300px;*/
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    /*  prev,next btns  */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .prev {
        left: 0;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little see-through */
        .prev:hover, .next:hover {
            background-color: rgba(68,70,74,0.8);
            color: white;
        }

    .active, .dot:hover {
        background-color: #717171;
    }


    /*Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /*Number text (1/3 etc)*/
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /*The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 10px 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }

    /* Fading animation */
    .fade {
        /*animation-name: fade;
    animation-duration: 10s;*/
    }

    @keyframes fade {
        /* from {
        opacity: .4
    }

    to {
        opacity: 1
    }*/
    }

    /*  Slideshow - end */


/* -------- media-queries -----------*/

@media only screen and (min-width: 300px) {
    html {
        font-size: 16px;
    }

    .header_slogan {
        margin-left: -40px;
    }

    .myfooter_col {
        margin-right: 70px;
    }

    #home_index {
        min-height: 1600px;
    }

    #register, #login {
        min-height: 1400px;
    }
    .mycats {
        margin-bottom: 30px;
    }

    .prev {
        margin-left: 80px;
    }

    .next {
        margin-right: 80px;
    }
    #products {
        min-height: 3500px;
    }
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 16px;
    }

    .header_slogan {
        margin-left: -45px;
    }

    .myfooter_col {
        margin-right: 70px;
    }

    .mycats {
        margin-bottom: 30px;
    }

    .prev {
        margin-left: 50px;
    }

    .next {
        margin-right: 50px;
    }

    #products {
        min-height: 3500px;
    }

    .card{
        max-width:520px;
    }
}


@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #home_index {
        min-height: 1000px;
    }

    #register, #login {
        min-height: 850px;
    }

    .header_slogan {
        margin-left: -50px;
    }

    .mycats {
        margin-bottom: 30px;
    }

    #products {
        min-height: 1600px;
    }

    /*.prev {
        left: 0px;
    }

    .next {
       right: 0px;
    }*/
}

@media only screen and (min-width: 900px) {
    .header_slogan {
        margin-left: -55px;
    }

    .mycats {
        margin-bottom: 30px;
    }
    #products {
        min-height: 1600px;
    }
}

@media only screen and (min-width: 1000px) {
    .header_slogan {
        margin-left: -60px;
    }

    .mycats {
        margin-bottom: 30px;
    }
    #products {
        min-height: 1600px;
    }
}

@media only screen and (min-width: 1100px) {
    .header_slogan {
        margin-left: -65px;
    }

    .mycats {
        margin-bottom: 30px;
    }
    #products {
        min-height: 1600px;
    }
}

@media only screen and (min-width: 1200px) {
    #home_index {
        min-height: 850px;
    }

    .header_slogan {
        margin-left: -70px;
    }

    .mycats {
        margin-bottom: 0;
    }

    /*.slideshow-container {       
        padding-top: 50px;
    }*/
    #products {
        min-height: 1600px;
    }

}

@media only screen and (min-width: 1400px) {
    .header_slogan {
        margin-left: -75px;
    }

    .prev {
        margin-left: 0px;
    }

    .next {
        margin-right: 0px;
    }
    #products {
        min-height: 1600px;
    }
}
