html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.fnt{
    font-size:16px;
}

/*@media only screen and (min-width: 520px) {
    #wrapper {
        height: 500px;
        This wrapper sets the height for the page, used to control footer position: relative;
    }
}*/

/* Black borders around focused input */
#resend:focus,
#backToHomepage:focus,
#backToLoginpage:focus,
#forgot-pass:focus,
#register-submit:focus,
#login-submit:focus, .form-control:focus{  
    box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem #fff;
}

/* neutralize effect from above on logout-button */
#logout:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #fff;
}



.myNav,.social_link{
    margin-top: -20px;
    margin-bottom: -20px;
}

#forgot-password, #new-user, #resend-confirmation,#back-to-login {
    text-decoration: none;
    color:rgb(107,104,95);
    font-weight:bold;
}

.footer_link {
    text-decoration: none;
}

.list-unstyled a:link, .list-unstyled a:visited, .list-unstyled a:active, .list-unstyled a:hover {
    color: white !important;
}

/* Help links from microsoft */
#confirm-link:link, #confirm-link:visited, #confirm-link:active, #confirm-link:hover,
#register_options:link, #register_options:visited, #register_options:active, #register_options:hover,
#login_options:link, #login_options:visited, #login_options:active, #login_options:hover {
    color: black !important;
}

/*#profile,#email{
    color:black;
}

.nav-pills .nav-link.active {
    background-color: black;
}*/

/*a,a:focus,button,button:focus,.btn,.btn:focus{  ----------------------
    outline:0 !important;
    border: 0;
}*/


/*check-box  , Identity */
.form-check-input:checked {               
    background-color: black !important;
    border: 0;
}

 /*check-box  , Identity*/ 
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem lightgray !important;
}


/*Make autofill white background*/
#reg_pass:-webkit-autofill, #reg_pass:-webkit-autofill:focus, #reg_email:-webkit-autofill,
#reg_email:-webkit-autofill:focus,
#login_pass:-webkit-autofill, #login_pass:-webkit-autofill:focus, #login_email:-webkit-autofill,
#login_email:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 40rem #ffff inset;
    outline: 0 !important;
    border: 1px solid lightgray !important;
}


.long_t{
    margin-right:20px;
}


.myfooter {
    background-color: black;
    padding-top:20px;
    min-height:300px;
}

/*.social_link {
    margin-top: -20px;
    margin-bottom: -20px;
}*/

.headers_footer{
    margin-bottom:30px;
    color:white !important;
}

.copyright{
    margin-top:-20px;
    color:darkgrey;
}



#register, #login, #home_index {
    min-height: 1000px;
}