@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generera two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Lägg dessa koder på ett säkert ställe.</strong>
    </p>
    <p>
        Om du förlorar din enhet och du inte har "recovery codes" kommer du att förlora tillträde till ditt konto.
    </p>
    <p>
        Generera nya "recovery codes"" ändrar inte nycklarna som används i authenticator-apparna. Om du vill ändra nyckeln 
        som används i en authenticator-app bör du <a asp-page="./ResetAuthenticator">återställa dina authenticator-nycklar.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generera Recovery Codes</button>
    </form>
</div>
