@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Återställ authenticator-nyckel";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Om du återställer din authenticator-nyckel, kommer din authenticator-app inte att fungera förrän du återkonfigurerar den.</strong>
    </p>
    <p>
        Denna process stänger av 2FA tills du verifierar din authenticator-app.
        Om du inte slutför konfigurationen av din authenticator-app kan du förlora access till ditt konto.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Återställ authenticator-nyckel</button>
    </form>
</div>
