<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3" style="min-width:500px;">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index"><img src="~/Images/logo/logo_transparent.png" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MediaSales</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start" style="margin-left:15px;">
                    <form asp-controller="Products" asp-action="Search" method="get">
                        <div class="input-group" style="min-width:300px">
                            @* style=" min-width:200px *@

                            <input type="text" class="form-control" name="srch" id="srch-field" spellcheck="false" placeholder="Sök Varor eller Kategorier">
                            <label>
                                <input type="submit" id="srch-btn" class="input-group-text" style="display:none" />
                                <div id="svg-btn" class="srch-normal" style="padding-left:10px;padding-top:5px;width:40px;height:40px;border-radius:0 4px 4px 0;cursor:pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" style="fill:currentColor;color:gray" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </div>
                            </label>
                        </div>
                    </form>
                </div>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    @*  <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    </ul> *@
                    <div class="container justify-content-end gap-5">
                        <button class="navbar-toggler" style="margin-top:10px" type="button" data-bs-toggle="collapse" data-bs-target="#CatDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="CatDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Vårt Sortiment
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/1'" class="dropdown-item" style="width:120px">Desktops</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/2'" class="dropdown-item" style="width:120px">Laptops</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/3'" class="dropdown-item" style="width:120px">TV</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/4'" class="dropdown-item" style="width:120px">Hörlurar</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/5'" class="dropdown-item" style="width:120px">Media</button></li>
                                    </ul>
                                </li>
                                @* <li className="nav-item">
                                <Link className="nav-link active" aria-current="page" href="/">Hitta rätt tillbehör</Link>
                                </li>
                                <li className="nav-item">
                                <Link className="nav-link" href="/">Kundservice & Support</Link>
                                </li> *@
                            </ul>
                            @* <div>
                            <input type="radio" className="btn-check" name="options-base" id="optionSV" autocomplete="off" checked />
                            <label className="btn" for="optionSV">SV</label>
                            <input type="radio" className="btn-check" name="options-base" id="optionEN" autocomplete="off" />
                            <label className="btn" for="optionEN">EN</label>
                            </div> *@


                            <partial name="_LoginPartialCartDropdown" />
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>