<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3" style="min-width:500px;">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index"><img src="~/Images/logo/logo_transparent.png" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MediaSales</a>

                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start" style="margin-left:15px;">
                    <div class="input-group" style="min-width:200px">              
                        <input type="text" class="form-control" name="srch" id="srch-field">
                        <a id="srch-btn" class="input-group-text" href="#" style="background-color:#fafafa">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" style="fill:currentColor;color:gray" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </a>
                    </div>
                </div>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                   @*  <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul> *@
                    <div class="container justify-content-end gap-5">
                        <button class="navbar-toggler" style="margin-top:10px" type="button" data-bs-toggle="collapse" data-bs-target="#CatDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="CatDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Vårt Sortiment
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/1'" class="dropdown-item" style="width:120px">Desktops</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/2'" class="dropdown-item" style="width:120px">Laptops</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/3'" class="dropdown-item" style="width:120px">TV</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/4'" class="dropdown-item" style="width:120px">Hörlurar</button></li>
                                        <li><button onclick="window.location.href='/Categories/ShowProduct/5'" class="dropdown-item" style="width:120px">Media</button></li>
                                    </ul>
                                </li>
                                @* <li className="nav-item">
                                    <Link className="nav-link active" aria-current="page" href="/">Hitta rätt tillbehör</Link>
                                </li>
                                <li className="nav-item">
                                    <Link className="nav-link" href="/">Kundservice & Support</Link>
                                </li> *@
                             </ul> 
                            @* <div>
                                <input type="radio" className="btn-check" name="options-base" id="optionSV" autocomplete="off" checked />
                                <label className="btn" for="optionSV">SV</label>
                                <input type="radio" className="btn-check" name="options-base" id="optionEN" autocomplete="off" />
                                <label className="btn" for="optionEN">EN</label>
                            </div> *@
                            @* <div class="collapse navbar-collapse justify-content-end" id="login-dropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Logga in
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><button class="dropdown-item">Logga in</button></li>
                                            <li><button class="dropdown-item">Registrera dig</button></li>
                                        </ul>
                                    </li>                        
                                </ul>
                            </div>
                            *@

                            <partial name="_LoginPartialCartDropdown" />
                    </div>
                   
                </div>
            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <footer class="border-top footer text-muted pb-1 myfooter" style="font-size:18px !important" >
      <div class="container">
         <div class="row mt-3">
          <div class="col-md-3 col-lg-3 col-xl-3 mb-4 myfooter_col">
            <h6 class="headers_footer" style="font-size:20px !important">Det här är MediaSales</h6>
            <ul class="list-unstyled text-white-50">
                <li class="myNav"><a class="footer_link" href="#">Press</a></li>
                    <li class="myNav"><a class="footer_link" href="#">Om MediaSales</a></li>
                    <li class="myNav"><a class="footer_link" href="#">Karriär</a></li>
                    <li class="myNav"><a class="footer_link" href="#">Hållbart val</a></li>
                    <li class="myNav"><a class="footer_link" href="#">MediaSales egna varumärken</a></li>
                    <li class="myNav"><a class="footer_link" href="#">Nyhetsbrev</a></li>
            </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mb-4 myfooter_col">
             <h6 class="headers_footer" style="font-size:20px !important">Handla på MediaSales</h6>
             <ul class="list-unstyled text-white-50">
                   <li class="myNav"><a class="footer_link" href="#">Försäljningsvillkor</a></li>
                   <li class="myNav"><a class="footer_link" href="#">Fraktinformation</a></li>
                   <li class="myNav"><a class="footer_link" href="#">Leveransinformation</a></li>
                   <li class="myNav"><a class="footer_link" href="#">Betalningsinformation</a></li>
                   <li class="myNav"><a class="footer_link" href="#">MediaSales Trygghetsavtal</a></li>
                   <li class="myNav"><a class="footer_link" href="#">Kontovillkor</a></li>
             </ul>
           </div>
           <div class="col-md-3 col-lg-3 col-xl-3 mb-4">
               <h6 class="headers_footer" style="font-size:20px !important">Social</h6>
               <ul class="list-unstyled text-white-50">
                  <li class="social_link"><a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer"><img src="~/Images/social/twitter_64_white.png" alt="follow on twitter" width="24px" height="24px"></img></a></li>
                  <li class="social_link"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img src="~/Images/social/facebook_256_white.png" alt="follow on facebook" width="24px" height="24px"></img></a></li>
                  <li class="social_link"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img src="~/Images/social/instagram_64_white.png" alt="follow on instagram" width="24px" height="24px"></img></a></li>
               </ul>
           </div>
        </div>
        <div class="copyright">
            © Copyright 2024 MEDIASALES AB
        </div>           
       </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
<script>
    // $(document).ready(function () {
    //     $('.identity').on('submit', function (event) {
    //         event.preventDefault();
    //         $('.long_t').addClass("spinner-border spinner-border-sm");
    //         this.submit();
    //     });
    // });

    // $(document).ready(function () {
    //      $('.cartAdd').on('submit', function (event) {
    //            event.preventDefault();
    //           // var imgsrc = $("#").attr('src');
    //            // var t = $(".hid2").val();
    //            // $(".hid2").val(t+1);
               
    //            // alert(s);

    //             this.submit();
    //         });
    //     });

    function test(val, str) {
        if (val.includes("<") || val.includes(">")) {
            $('#checkout' + str).val('');
            $('#checkout' + str).addClass("red_border");
        }
        else{
            $('#checkout' + str).removeClass("red_border");
        }
    }
    
    function test2(val) {
        var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if (!emailPattern.test(val)) {
            $('#checkout_email').addClass("red_border");
        }
        else {
            $('#checkout_email').removeClass("red_border");
        }
    }


    $(document).ready(function () {
        $('#checkout_email').on('change', function (event) {
            var value_e = $('#checkout_email').val().trim();
            // test2(value_e);
            test(value_e, "_email");          
        });
    });

    $(document).ready(function () {
        $('#checkout_firstname').on('change', function (event) {
            var value_f = $('#checkout_firstname').val().trim();
            test(value_f, "_firstname");
        });
    });

    $(document).ready(function () {
        $('#checkout_lastname').on('change', function (event) {
            var value_l = $('#checkout_lastname').val().trim();
            test(value_l, "_lastname");
        });
    });

    $(document).ready(function () {
        $('#checkout_adress').on('change', function (event) {
            var value_a = $('#checkout_adress').val().trim();
            test(value_a, "_adress");
        });
    });

    $(document).ready(function () {
        $('#checkout_zip').on('change', function (event) {
            var value_z = $('#checkout_zip').val().trim();
            test(value_z, "_zip");
        });
    });

    $(document).ready(function () {
        $('#checkout_city').on('change', function (event) {
            var value_c = $('#checkout_city').val().trim();
            test(value_c, "_city");
        });
    });

    $(document).ready(function () {
        $('#order_form').on('change', function (event) {

            //var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            
            var value_e = $('#checkout_email').val().trim();
            var value_f = $('#checkout_firstname').val().trim();
            var value_l = $('#checkout_lastname').val().trim();
            var value_a = $('#checkout_adress').val().trim();
            var value_z = $('#checkout_zip').val().trim();
            var value_c = $('#checkout_city').val().trim();

            
            // test(value_f,"_firstname");
            // test(value_l,"_lastname");
      
            

            // if (emailPattern.test(value_e)) {
            //     alert('ok');
            // }
            // else {
            //     alert('invalid');
            // }

            


            if (value_e.length > 0 && value_f.length > 0 && value_l.length > 0 && value_a.length > 0 && value_z.length > 0 && value_c.length > 0) {
                $('#do_order').prop("disabled", false);
            }
            else {
                $('#do_order').prop("disabled", true);
            }
        });
    });
  
    
    


    $(document).ready(function () {
        $('#freight_option').on('change', function (event) {
            // var p = document.getElementById("freight_cost");

            $('#freight_cost').html(this.value + "&nbsp;.-");
            $('#freight_alt').html($("#freight_option option:selected").text());

            let _selectedValue = $(this).val();
            let _data = { "selected_val": _selectedValue };
            $.ajax({
                type: "POST",
                url: "/Cart/ChangeFreight/",
                data: _data,
                success: function (result) {
                    if (result) {
                        $('#tot_cost').html(result + "&nbsp;.-");
                    }
                    else { 
                        alert('null') 
                    }
                }
            });

        });
    });


    $(document).ready(function () {
        $('#srch-field').on('focus', function (event) {
            $('#srch-btn').addClass("srch-focus");
        });
    });

    $(document).ready(function () {
        $('#srch-field').on('blur', function (event) {
            $('#srch-btn').removeClass("srch-focus");
        });
    });

    // let slideIndex = 1;
    // showSlides(slideIndex);

    // // Next/previous controls
    // function plusSlides(n) {
    //     slideIndex += n;
    //     showSlides(slideIndex);
    // }

    // // Thumbnail image controls
    // function currentSlide(n) {
    //     slideIndex = n;
    //     showSlides(slideIndex);
    // }

    // function showSlides(n) {
    //     let i;
    //     let slides = document.getElementsByClassName("mySlides");
    //     let dots = document.getElementsByClassName("dot");
    //     if (n > slides.length) { slideIndex = 1 }
    //     if (n < 1) { slideIndex = slides.length }
    //     for (i = 0; i < slides.length; i++) {
    //         slides[i].style.display = "none";
    //     }
    //     for (i = 0; i < dots.length; i++) {
    //         dots[i].className = dots[i].className.replace(" active", "");
    //     }
    //     slides[slideIndex - 1].style.display = "block";
    //     dots[slideIndex - 1].className += " active";
    // }
</script> 


@* <footer class="border-top footer text-lg-start bg-dark text-white mt-5">
    <section>
        <div class="container text-md-start pt-5">
            {/*rad*/}
            <div class="row mt-3">
                {/*kolumn 1*/}
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6>Det här är BlueGroup</h6>
                    <ul class="list-unstyled text-white-50">
                        <li class="nav-item"><Link class="nav-link" to="#">Press</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Om BlueGroup</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Karriär</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Hållbart val</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">BlueGroups egna varumärken</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Nyhetsbrev</Link></li>
                    </ul>
                </div>
                {/*kolumn 2*/}
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6>Kundservice</h6>
                    <ul class="list-unstyled text-white-50">
                        <li class="nav-item">Beställning</li>
                        <li class="nav-item">Leverans</li>
                        <li class="nav-item"><Link class="nav-link" to="#">Teknisk support</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Reklamation & återköp</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Betalning</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Student</Link></li>
                        <li class="nav-item"><Link class="nav-link" to="#">Chatta med oss</Link></li>
                    </ul>
                </div>
                {/*kolumn 3*/}
                <div className="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6>Handla på BlueGroup</h6>
                    <ul className="list-unstyled text-white-50">
                        <li className="nav-item"><Link className="nav-link" to="#">Försäljningsvillkor</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Fraktinformation</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Leveransinformation</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Betalningsinformation</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">BlueGroup Trygghetsavtal</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Kontovillkor</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Integritetspolicy</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Cookiepolicy</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Kampanjguide</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Black Friday 2024</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Fyndvaror</Link></li>
                    </ul>
                </div>
                {/*kolumn 4*/}
                <div className="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6>Inspiration</h6>
                    <ul className="list-unstyled text-white-50">
                        <li className="nav-item"><Link className="nav-link" to="#">Guider</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Nya produkter</Link></li>
                        <li className="nav-item"><Link className="nav-link" to="#">Allt för gamern</Link></li>
                    </ul>
                </div>
            </div>
        </div>
        <div className="container u-pt-32 u-px-16 u-px-lg-0 u-pt-md-64">
            <div className="row sm-gutters">
                {/*logotyp*/}
                <div className="col-md-auto">
                    <i className="bi bi-bootstrap h1"></i>
                </div>
                {/*företagsnamn och info*/}
                <div className="col-md-auto">
                    <div>
                        <p className="u-margin-bottom-off u-color-white">
                            BlueGroup Sverige AB, Box 0000, 123 45 Farsta.<br />
                            <span className="text-nowrap">
                                Organisationsnummer: 550000-0000
                            </span>
                        </p>
                        <p className="text-white-50">© 2024 BlueGroup AB. All rights reserved.</p>
                    </div>
                </div>
                <div className="col-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end u-pt-32 u-pt-md-0">
                    <a class="u-bg-black u-w-40 u-h-40 u-py-8 u-px-8 u-radius-4 u-button-opacity u-mr-8" aria-label="follow on facebook" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><img alt="facebook icon" loading="lazy" width="48" height="24" decoding="async" data-nimg="1" style={{color:'transparent'}} src="https://dustinweb.azureedge.net/content/88934/facebook.svg" /></a>
                    <a class="u-bg-black u-w-40 u-h-40 u-py-8 u-px-8 u-radius-4 u-button-opacity u-mr-8" aria-label="follow on linkedIn" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><img alt="linkedIn icon" loading="lazy" width="48" height="24" decoding="async" data-nimg="1" style={{color:'transparent'}} src="https://dustinweb.azureedge.net/content/88936/linkedin.svg" /></a>
                    <a class="u-bg-black u-w-40 u-h-40 u-py-8 u-px-8 u-radius-4 u-button-opacity u-mr-8" aria-label="follow on twitter" href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><img alt="twitter icon" loading="lazy" width="48" height="24" decoding="async" data-nimg="1" style={{color:'transparent'}} src="https://dustinweb.azureedge.net/content/88940/twitter.svg" /></a>
                    <a class="u-bg-black u-w-40 u-h-40 u-py-8 u-px-8 u-radius-4 u-button-opacity u-mr-8" aria-label="follow on youtube" href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><img alt="youtube icon" loading="lazy" width="48" height="24" decoding="async" data-nimg="1" style={{color:'transparent'}} src="https://dustinweb.azureedge.net/content/88939/youtube.svg" /></a>
                </div>
            </div>
        </div>
    </section>
</footer> *@
