@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ingen Access";
}

<section id="access_denied_section" style="margin-top:40px;">
  <header>
    <h2 class="text-secondary" style="">@ViewData["Title"]</h2>
    <p class="text-secondary">Du har inte behörighet att se denna sida.</p>
  </header>
</section>
