@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bekräfta email";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a id="backToHomepage" class="btn btn-lg btn-dark fnt" asp-area="" asp-controller="Home" asp-action="Index">Tillbaka till hemsidan</a>
