@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräfta glömt lösenord";
}

<h4>E-mail bekräftelse : Återställ lösenord</h4>
<p>
    Om du har ett konto registrerat hos oss you kommer du snart att få ett email från oss.<br />
    Vänligen läs detta email för instruktioner om hur man återställer lösenordet.
</p>

<a id="backToLoginpage" class="btn btn-lg btn-dark fnt" asp-page="./Login">Tillbaka till login</a>