@page
@model LockoutModel
@{
    ViewData["Title"] = "Låst konto";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Detta konto är låst, vänligen försök senare.</p>
</header>
