@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrerings-bekräftelse";
}

<h2>@ViewData["Title"]</h2>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Denna app har för tillfället ingen verklig email-avsändare inkopplad, se <a id="confirm-link" href="https://aka.ms/aspaccountconf">docs</a> för att konfigurera ett riktigt email-server-konto.
    Normalt sett skulle detta emailas: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicka här för att konfigurera ditt konto</a>
</p>
    }
    else
    {
<p>
        Vänligen kontrollera din email för att bekräfta ditt konto.
</p>
    }
}

